.menu {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    }
    .menu a {
    text-decoration: none;
    color: rgb(31, 14, 124)
    width: 100px;
    display: inline-block ;
    padding: 20px 40px;
    font-size: 20px;
    }
    .menu a:hover {
    background-color:rgb(31, 14, 124);
    color: honeydew;
    }
    .header {
    text-align: center;
    color: aliceblue;
    padding: 200px 0px;
    background-image: url(олимп.PNG);
    background-repeat: no-repeat;
    background-position: top center;
    font-family: 'Oswald', sans-serif;
    }
    .header a {
    display: inline-block;
    text-decoration: none;
    padding: 12px 24px;
    background-color: aliceblue;
    color: white
    border-radius: 10px;
    }
    .header a:hover {
    background-color: rgb(31, 14, 124);
    }
    p {
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
    }
.menu img {
    position: absolute;
    left: 50px;
}
body {
    background-image: url(фон.png);
}
.info {
    padding: 40px;
    color: rgb(31, 14, 124);
    font-family: 'Oswald', sans-serif;
}
h2 {
    text-align: center;
}